/* Fonts family */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Reg', sans-serif;
}
a:hpver {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
.button {
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border-radius: 8px;
  background-color: #fcb303;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 13rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  text-align: center;
}
/* main */
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main-title span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #46b814;
  text-align: center;
}
.main-title span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-top: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  display: block;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
  /*Кнопка отправить заявку*/
  /* Подпись под кнопкой*/
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.7rem;
}
.main-form-header strong {
  font-size: 1.8rem;
}
.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
}
.main-form label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0,5rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.main-form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
/* Оформлении скции с приемушествам */
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.5rem;
  text-align: center;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/featuers/left-arrow.png) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/featuers/right-arrow.png) center no-repeat;
  background-size: 70%;
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .header {
    text-align: center;
  }
  .main-content {
    margin-top: 14rem;
  }
  .wrap-block {
    text-align: center;
  }
}
@media(max-width: 400px){
 .main-content h1{
  font-size: 2.7rem;
 }  
}