/* Fonts family */
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Reg', sans-serif;
}
a:hpver {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border-radius: 8px;
  background-color: #fcb303;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}
/*Оформление форм*/
.form {
  /*Подписки к полям*/
  /*Кнопка отправить заявку*/
  /* Подпись под кнопкой*/
}
.form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 12px;
  padding: 1.5rem;
}
.form label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0,5rem;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
.form small {
  display: block;
  margin-top: 1.5rem;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 13rem;
  text-align: center;
}
.section-header_light {
  color: #ffffff;
  margin-top: ;
}
.section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
/* main */
.main {
  padding: 3rem 0 5rem;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 10rem;
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  line-height: 1.45;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
}
.main-title span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #46b814;
  text-align: center;
}
.main-title span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.main-trigger {
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-top: 3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  display: block;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
}
.main-form-header {
  margin-bottom: 4rem;
  font-size: 1.7rem;
}
.main-form-header strong {
  font-size: 1.8rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
/* Оформлении секции с приемуществам */
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.5rem;
  text-align: center;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/features/left-arrow.png) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/features/right-arrow.png) center no-repeat;
  background-size: 70%;
}
/*Секция с ценами*/
.price {
  background: #46b814 url(../img/prices/prices-bg.jpg) center;
  /*Карточки с тарифами*/
}
.price-header-btn {
  margin-top: 2.5rem;
}
.price-button {
  text-align: right;
}
.price-block {
  padding: 1rem 3rem 4rem;
  min-height: 50rem;
  background-color: #ffffff;
  box-shadow: 0 14px 21px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-block img {
  max-width: 30rem;
  display: inline-block;
  margin-bottom: 2rem;
  max-width: 100%;
}
.price-tag {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.9rem;
  display: block;
  margin-bottom: 2rem;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 14rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.price-list li:before {
  content: '';
  display: inline-block;
  margin-right: 2rem;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/check.png) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
/*Секция с отзывами*/
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-bg.jpg) no-repeat center;
  background-size: cover;
  /*Форма обратной связи*/
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #46b814;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #46b814;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback .pidor {
  font-style: normal;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #ffffff;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #46b814;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 10rem;
  background-color: #ffffff;
  text-align: center;
}
.feedback-form h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.feedback-form label {
  transform: translate(-50%, 11px);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.hand {
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-width: 30rem;
}
/*Схема работы*/
.scheme {
  background: #ffffff url(../img/scheme/scheme-bg.png) bottom -10rem right -15rem no-repeat;
  background-size: 65rem;
  padding-bottom: 0;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block h3 {
  font-size: 2.2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.scheme-block p {
  font-size: 1.5rem;
}
/* Всё на 100% включено */
.all-inclusive {
  background: #f5f5f5;
}
.all-inclusive .media {
  min-height: 9rem;
}
.all-inclusive .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
}
.all-inclusive .media p {
  font-size: 1.1rem;
}
.circle {
  display: inline-block;
  background-color: #46b814;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #46b814;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #ffffff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
}
/*Оформление всплывающих окон*/
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  transform: translate(-50%);
  padding: 4rem 6rem;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  text-align: center;
  font-size: 1.8rem;
}
.popup-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .all-inclusive {
    background: #f5f5f5;
  }
  .all-inclusive .media {
    min-height: 11rem;
  }
  .all-inclusive .media {
    min-height: 11rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: scaleY(-50%);
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 4rem;
  }
  .section-header_light {
    margin-bottom: 0;
  }
  .feedback-form label {
    transform: translate(-50%, -50%);
  }
  .hand {
    display: none;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .main h1 {
    font-size: 2.5rem;
  }
  .header {
    text-align: center;
  }
  .main-content {
    margin-top: 14rem;
  }
  .wrap-block {
    text-align: center;
  }
  .features-block p {
    width: 60%;
  }
  .feedback-prev-btn {
    left: 0rem;
  }
  .feedback-next-btn {
    right: 0rem;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 2rem;
  }
}
