.bg-black {
    background: #000;
    color: #fff;
}

#main-header img {
    width: 100%;
    height: 395px;
}

#main-header .port-item {
    width: 30%;
}

#main-header .port-item .fa {
    font-size: 2em;
}

#main-header .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
}


@media (min-width: 1199px) {
    .port-item {
    padding: 3em !important;
    }
 }

a:visited {
    color: white;
}

a:hover {
    color: black;
}

.nigga{
    background-color: #fff;
}

.card-body{
flex:1 1 auto;
padding:1.5rem;
}