*::before {
  box-sizing: border-box;
}

.bg-black {
  background: #000;
  color: #fff;
}

#main-header img {
  width: 100%;
  height: 395px;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item .fa {
  font-size: 2em;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}

a:visited {
  color: white;
}

a:hover {
  color: black;
}

.nigga {
  background-color: #fff;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.5rem;
}
.form-group {
  margin-bottom: 1rem;
}

.input-group {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  border-right: 0;
}

.form-control {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.input-group-addon {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  line-height: 1.5;
  outline: none;
}

.input-group-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.1rem;
}

.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.textarea {
  resize: none;
}
